In [8]:
from snap.snap import snapmerchants, cull_data
import snow.utils as sf
import pandas as pd
import editdistance

In [9]:
snapmerchants('melbourne',to_sf=False)

just work smh
Using all_data_viewer...
Established connection.
Querying load_wh.all_data.postgres
Custom data:  (136389, 1121, 'Sydney', 'Messina', 'Rosebery')

Connection succesfully closed.
Using zans_role...
Established connection.
Querying zans_wh.zans_db.glue
Custom data:  (1248.0, 'https://www.zomato.com/sydney/boiler-house-cafe-medlow-bath\n')

Connection succesfully closed.
Using all_data_viewer...
Established connection.
Querying load_wh.all_data.postgres
Custom data:  ('Movenpick', None, None, None, 'Melbourne', None)

Connection succesfully closed.
Using all_data_viewer...
Established connection.
Querying load_wh.all_data.postgres
Custom data:  (1444, 'Melbourne')

Connection succesfully closed.

Liven MELBOURNE restaurants without urls:  ['Dragon Hot Pot' 'Bubble Cup' 'MD Express' 'Spice Club' 'Aunty Franklee'
 'London K Burgers' 'San Lorenzo' 'Phancy Cafe' 'Cocorico'
 "Henry's Thai Cuisine" 'Oppa Kitchen' 'Ya Souv' 'Romanos Coffee'
 'New York Minute Burgers' 'Ten BBQ and Hotpot' 'Circolo' 'Bluetrain'
 'Sushisan' 'Blue River Thai' 'Fork and Fingers' 'Richmond Oysters'
 'A25Pizzeria' 'Ajisen Ramen' "Guo's Kitchen" 'Plenary Cafe 1' 'La Camera'
 'The Reserve Cafe' "Roll'd" 'Gong Cha' 'L.A. Burger' 'Ajisen Ramen'
 'Tsuta Sushi' 'Roam Cafe' 'NeNe Chicken' 'Matsuri' 'The Yarra Indian'
 'Rosslyn Pizzeria' 'Duke of Kerr' "Roll'd" 'NeNe Chicken' 'Orient East'
 'Dragon Hot Pot' 'Tuan Tuan' 'Romanos Coffee' 'Gozleme Place and Cafe'
 'Mister Bianco' 'Tokyo Teppanyaki' "Smokin' Joes Pizza and Grill"
 'BBQ 1988' 'Tap831' 'Noodle Box' 'Gotcha!' 'CoCo Fresh Tea & Juice'
 'White Mojo' 'Killiney Kopitiam' "Carmine's Bistro" 'Movida Next Door'
 'CoCo Fresh Tea & Juice' 'New York Minute Burgers' 'Blackball'
 'Spice Club' "Roll'd" 'The Poke Man' 'Il Gambero Restaurant' "Roll'd"
 'House of Kebabs' 'Massi' 'Europa ' 'Lee Ho Fook' 'Ajisen Ramen'
 'Long Story Short' 'Burger Edge' 'Sharetea' 'Bruce Lee Sushi and Roll'
 'Kebab Hut' 'Tacco & Tosca' "Paco's Tacos" "Paco's Tacos" "Criniti's"
 "Rhapsody's Cafe" 'White Mojo' 'Paesano Real Italian' 'MC Dumpling'
 "Errol's" 'Mad Mex' 'Home Juice and Salad Bar' 'Lanzhou Beef Noodle Bar'
 'Bawa Cafe' 'Dragon Hot Pot' 'El Sabor' 'Poke Me' 'Si Senorita'
 'Ajisen Ramen' 'Shiraaz' 'Sharetea' 'Carte Crepes' 'MoVida'
 'Burger Project' "Eat'aliano by Pino" 'The Emerald Elephant' 'Maze'
 'Happy Lemon' 'Aunty Franklee' 'La Figo' "Limor's Restaurant"
 'Overloaded Cafe' 'Recovery Prahran' 'Cielo Gourmet Pizza Pasta'
 "Mama's Buoi" 'Kumo Izakaya' 'Somsak Thai Restaurant' 'Tabouli'
 'Nik@Nicholson' 'MoVida' 'Gong Cha' 'Noodles vs Dumplings' 'Caffe La Via'
 'Little Brother' 'Elektra Caffe' 'Tokyo Japanese Restaurant' 'PappaRich'
 "Juanita's Kitchen" 'New Shanghai' "D' Elephant Thai" 'Kaya '
 'Highway 54' 'Gong Cha' 'Zen Charcoal BBQ' 'White Mojo'
 'Level Infinity Gaming Lounge' 'Barolo' 'Suk Sa Bai' "Lindo's"
 'Siam Thai' 'Sabas Ethiopian' 'Sharetea' "Castro's Kiosk" "Martha Ray's"
 'Azusa Sen' 'Gotcha!' 'Miyako Japanese Cuisine & Teppanyaki'
 'Royal Thai Massage' 'Kung Fu Burger' 'Blackball' 'Persian Grill'
 'Sharetea' 'Pho La Que Basil Leaf' 'Gotcha!' 'Mamak'
 'CoCo Fresh Tea & Juice' 'Laksa King' 'Clarendon Station' 'Egg Station'
 'Jimmy Grants' 'Jimmy Grants' 'Abacus Bar and Kitchen' 'Abacus All Day'
 'Herbivore Eatery' 'Lambz Sweet and Greens' 'Killiney Kopitiam'
 'ONDA Bar and Eatery' 'Krua Thai' 'Sketches Cafe Bar Restaurant'
 "D' Elephant Thai" 'Budapest' "D' Elephant Thai" 'Schmucks Bagels'
 'Green Leaf Kebab' 'Robarta' 'Pabu Grill & Sake' 'Sauced'
 'New York Minute Burgers' 'Ajisen Ramen' 'Triq Restaurant and Bar'
 'Jimmy Grants' 'Yo-Chi' 'Hellenic Republic' 'Joomak' "B'cos Brazil"
 'Zam Zam' 'Lord of the Fries' 'Cosi Bar Ristorante' 'Calia' 'Poked'
 'La Porchetta' 'Piccolo Mondo' 'Three One 2 One' 'Royal Stacks'
 'Blue Note Cafe' 'Rupert & the Fig' 'Sazio Restaurant Bar and Cafe'
 'Sharetea' 'Ajisen Ramen' 'Bar Tini' 'Kagu Ra Zaka' 'Queensberry Hotel'
 'Riverside Teppanyaki' 'Tequila Mexican' 'La Porchetta' 'SumoSalad'
 'Nahm Tao Thai Kitchen' "Billy's Kitchen" 'Asado To Go' '90 Secondi'
 'Nutrition Station' 'Bababoi' "David's Malatang"
 'New York Minute Burgers' 'Happy Lemon' 'CoCo Fresh Tea & Juice'
 'Cuppa Turca' 'Lanzhou Beef Noodle Bar' 'Sharetea' 'Kin Vietnamese'
 'Rococo' 'Poke Me' 'Gotcha!' 'Gong Cha' 'Hobba' 'Izakaya Chuji'
 'Noodle Box' 'Shanghai Village' 'Blackball' 'Stretched Pizza'
 'NeNe Chicken' 'Basta' 'Hanoi Old Quarter' 'Gong Cha'
 'New York Minute Burgers' 'Nirankar' 'DoDee Paidang Thai' 'Healthy Point'
 'Brunetti' 'Sharetea' 'eLounge Pizzeria' 'Lanes Edge Cafe Bar' '8Bit'
 'Seoul Soul' "Roll'd" 'Galah Bottle-O' 'Caffe e Cucina' 'Happy Lemon'
 'Fujiyama' 'Izumi Japanese Massage' 'Area Four' 'SumoSalad'
 'CoCo Fresh Tea & Juice' "Reynaldo's Filipino Restaurant"
 'Nicolinis on the Bay' 'Fox in the Box' 'The Bar Royal' 'Bosozoku'
 'Noodle Box' 'Rozzis' 'Gong Cha' "D'Tandoor" 'Highway 54' 'Vodka Temple'
 'Spice Up Hot Pot' 'Poked' 'Din Tai Fung' 'Tu ' 'A25Pizzeria'
 'Silom Thai' 'Kokido' "Roll'd" 'SumoSalad' 'A25Pizzeria' 'Poked'
 'Gong Cha' 'Plenary Cafe 1' 'Martin Street Cafe and Providore'
 'NeNe Chicken' 'Araliya' 'Royal Stacks' 'NeNe Chicken'
 'Charisma Workshop' "Roll'd" 'Gotcha!' 'Iris and the Secret Squirrel'
 '8Bit' 'Kaya ' 'Kobe Jones' 'Seoul Soul' 'Shanghai Dragon Dumpling House'
 'Yuzu' 'Biggie Smalls' 'Marmara Restaurant' "Roll'd" 'Paris Go Bistro'
 "D' Elephant Thai" 'Encore Pizza and Grill' 'CoCo Fresh Tea & Juice'
 'Gong Cha' 'Matsuzaka' 'Baretto Espresso Bar' 'Messina'
 'La Sera Woodfire Pizza' 'Saigon Soul' 'Juno and May' 'Mad Mex'
 'Killiney Kopitiam' 'Poked' 'Ajisen Ramen' 'Lona' 'Maha Restaurant'
 "L' Burger" 'Calia' 'Rozzis' 'Mrs Hopper Bar' 'Tsujiri' 'No Vacancy Cafe'
 'Maki-Mix' 'Laksa King' 'Laksa King Kitchen' 'Jimmy Grants'
 'Gazi Restaurant' 'Yo-Chi' 'Hellenic Republic' 'Mr Panda' 'Aqua S'
 'Gotcha!' 'Lanzhou Beef Noodle Bar' 'Love Pho' 'Roti Bar'
 'Arkibar Cucina' 'A Little Joy' 'Tall Timber Cafe'
 'Good Luck@Lee Ho Fook' 'Melbourne Golf Academy'
 'YiFang Taiwan Fruit Tea' 'Jimmy Grants' 'Yo-Chi' 'Rainbow Toastie'
 'Clarendon Sky Bar' 'RocoMamas' 'Tea Bag' 'By Korea' 'Spicy Affair'
 'Moshi Moshi' 'Sharetea' 'PappaRich' 'Raan Kan Eang' 'Agraba'
 'Basement Cafe' "Billy's Courtyard" 'Xeom' 'Chick In' 'Cafe Keyif'
 'Luxsmith' 'Ajisen Ramen' 'Oliver Brown Cafe' 'Truffles Patisserie'
 'La Porchetta' 'Bibimbap' 'Yu Kitchen' 'Transport Bar' 'Sam Sam Chicken'
 'Piccolo Espresso' 'The Bakery 2' 'Messina' 'Aashiana' 'The Wasabi Place'
 'Swiss Club of Victoria' 'Pegasus' 'Bibimbap' 'Biggie Smalls' 'Ya Souv'
 'Gong Cha' 'Nepa Bliss' 'Rozzis' 'Gotcha!' 'Shiva' 'Kanjuro' 'Messina'
 "Roll'd" 'Talk of the Town' 'New York Minute Burgers' 'Assaggi Italiani'
 'Lanzhou Beef Noodle Bar' 'Galah' 'Royal Stacks' 'Shonan Kamakura'
 'NeNe Chicken' 'PappaRich' 'MoVida' 'Song Tea' "Roll'd" 'Movida Aqui'
 'Riva St Kilda' 'My Sista Says' 'Babble Bar & Cafe' 'Good Luck Tea House'
 "Roll'd" 'The Bakery 1' 'Dragon Hot Pot' 'Kaaoli Sushi Cafe'
 'Baked in Elwood' 'Poked' 'Laksa Bar' 'Peppans Bar & Cafe'
 'Choix Creperie Cafe' "Roll'd" 'Gong Cha' 'Porta Via' 'Copperwood'
 'Izakaya Hachibeh' 'Chickilia' 'Piccolo Me' 'Dragon Hot Pot'
 'Rice Paper Sister' 'Cafe Blush' 'Burger Project' 'Thai Style'
 'New Shanghai' 'Dragon Hot Pot' 'The Dessert Kitchen' 'Curry Vault'
 'Palermo' 'Coco Thai' 'Yo! Sushi Noodle' 'Sauced' 'Rococo Lane'
 'Sam Sam Chicken' 'Au79 Cafe' 'Family Pho' 'Pizza E Birra' 'Sauced'
 'Lanzhou Beef Noodle Bar' 'Poked' 'Burger Project' 'Richmond Oysters'
 'Sardi Cafe' 'PappaRich' 'Welcome Thai' 'Restaurant Quaff' 'Katsu King'
 "Mama's Buoi" 'Friends of Mine' 'Mason Dixon' "David's Hot Pot"
 'Sharetea' 'Da Long Yi Hot Pot' "Roll'd" 'Mad Mex' 'Ajisen Ramen'
 'Cha Here' 'Republic' 'V Hotel Spa' "Mister Truong's" 'Chilli India'
 'Hayashi291' 'Barista Bar' 'Sushisan' 'Seoul Soul' 'Nom Nom'
 'Cafe Marcella' 'Dragon Hot Pot' 'Carlisle Pizza' 'Lavezzi Gelato'
 'Madame Saigon' 'Montania' 'Sister of Society' 'Gramercy Social'
 'Blackball' 'Sugo' 'Bullrun Cafe' "Hu's Pie & Dumplings"
 'Shanghai Dragon Dumpling House' 'Sharetea' 'Sarti' 'Estivo' "Roll'd"
 'Bruce Lee Sushi and Roll' 'Bruce Lee Sushi and Roll' 'Famous BBQ Hotpot'
 'Jimmy Grants' 'Jimmy Grants' 'Yo-Chi' 'Hellenic Republic'
 'Hellenic Republic' 'Okra' 'Hwaro Korean BBQ' 'The Piano Restaurant'
 'Tea Bag' 'Jimmy Grants' 'Sharetea' 'Rococo' "Roll'd" 'Ajisen Ramen'
 'Ajisen Ramen' 'Smile Thai Cuisine' 'La Porchetta' 'Piccolo Me' 'Fujitei'
 'Merchant Society' 'Plenary Cafe 2' 'SumoSalad' 'Brunswick Flour Mill'
 '8Bit' 'Lavezzi Gelato' 'Duke Pizza' 'Code 21' 'Laksa King Kitchen'
 'Collective Espresso' 'Mahn Doo']

We had 0 errors with extracting coordinates.

levenshtein df                     Name    Suburb     Id             Zomato Name  \
0                Ya Souv  Hawthorn  427.0           Where Ya Bean
1             White Mojo    Balwyn  807.0  BAR NSW at the Lookout
2             White Mojo    Balwyn  807.0  Milkbar at the Lookout
3  Il Gambero Restaurant   Carlton   23.0         Restaurant 1128
4  Il Gambero Restaurant   Carlton   23.0    Chisolm's Restaurant

                                                 url    Branch  \
0  https://www.zomato.com/sydney/where-ya-bean-ca...  Hawthorn
1  https://www.zomato.com/sydney/bar-nsw-at-the-l...    Balwyn
2  https://www.zomato.com/sydney/milkbar-at-the-l...    Balwyn
3  https://www.zomato.com/sydney/restaurant-1128-...   Carlton
4  https://www.zomato.com/sydney/chisolms-restaur...   Carlton

              Latitude           Longitude       City  levenshtein
0  -37.820769824879264  145.03576593681802  Melbourne         10.0
1    -37.8122832866737   145.0756181983167  Melbourne         16.0
2    -37.8122832866737   145.0756181983167  Melbourne         17.0
3           -37.803299          144.966565  Melbourne         16.0
4           -37.803299          144.966565  Melbourne         10.0
Something went wrong.

In [5]:
pre_snapped = sf.from_snow(schema='glue',query='select * from melbourne',to_df=False)

Using zans_role...
Established connection.
Querying zans_wh.zans_db.glue
Custom data:  (1248.0, 'https://www.zomato.com/sydney/boiler-house-cafe-medlow-bath\n')

Connection succesfully closed.

In [6]:
pre_snap = pd.DataFrame(pre_snapped,columns=['Id','url'])

In [7]:
pre_snap

         Id                                                url
0    1248.0  https://www.zomato.com/sydney/boiler-house-caf...
1     435.0                                               None
2    1239.0                                               None
3    1149.0                                               None
4      60.0                                               None
5    1233.0                                               None
6     716.0                                               None
7    1230.0                                               None
8    1165.0                                               None
9    1014.0                                               None
10    497.0                                               None
11   1038.0                                               None
12    603.0                                               None
13   1299.0                                               None
14    954.0                                               None
15   1441.0                                               None
16    464.0                                               None
17   1217.0                                               None
18    804.0                                               None
19   1061.0                                               None
20    676.0                                               None
21   1560.0                                               None
22   1435.0                                               None
23    399.0                                               None
24    940.0                                               None
25     49.0                                               None
26   1331.0                                               None
27    679.0                                               None
28   1219.0                                               None
29    601.0                                               None
..      ...                                                ...
247   879.0                                               None
248  1429.0                                               None
249  1221.0                                               None
250  1208.0                                               None
251   642.0                                               None
252  1223.0                                               None
253  1287.0                                               None
254  1210.0                                               None
255   588.0                                               None
256  1231.0                                               None
257   693.0                                               None
258   515.0                                               None
259   566.0                                               None
260   705.0                                               None
261  1012.0                                               None
262   417.0                                               None
263  1288.0                                               None
264  1626.0                                               None
265  1731.0                                               None
266  1742.0                                               None
267  1743.0                                               None
268   594.0                                               None
269   595.0                                               None
270   260.0                                               None
271  1423.0                                               None
272  1202.0                                               None
273  1639.0                                               None
274  1672.0                                               None
275  1719.0                                               None
276  1741.0                                               None

[277 rows x 2 columns]

In [12]:
to_snowflake = pd.concat([snap_df[['Id','url']],pre_snap])

In [1]:
import pandas as pd
import numpy as np
from snap.snap import populate_empty_branches, cull_data

In [2]:
snap_df = pd.read_csv('snapped.csv')
df,interactions = populate_empty_branches(snap_df)
snapped_df = pd.concat([snap_df,df])

Using all_data_viewer...
Established connection.
Querying load_wh.all_data.postgres
Interactions data:  ('fen_job@yahoo.com', '400958', '2019-06-13', None, None, None, Decimal('7.000000'), 'Yes', 'Sydney', 861, 'CoCo Fresh Tea & Juice', 1242, '2019-06-13', Decimal('7.000000000000'))

Connection succesfully closed.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
interactions = interactions.rename({'merchant':'Name'},axis=1)
interactions = cull_data(interactions)
int_df = interactions[['branchId','merchantId','Name']].drop_duplicates()
int_df = int_df.rename({'branchId':'Id','merchantId':'MId','merchant':'Name'},axis=1)

In [7]:
final_df = snapped_df.merge(int_df,how='outer')
final_df = final_df.drop(['Suburb','Zomato Name','levenshtein','n'],axis=1)
final_df.url = final_df.url.replace(np.nan,'None')

In [8]:
template_df = final_df[final_df.url=='None']
template_df[['MId','Name','url']
           ].drop_duplicates(subset=['MId']
                ).to_csv('snap/manual/template_sydney.csv',index=False)

In [10]:
import os
x_df = pd.read_csv('snap/manual/sydney.csv')

In [105]:
url_dict = {}
for _, r in x_df.iterrows():
    key = int(r['MId'])
    url_dict[key] = r['url']

In [127]:
df = pd.DataFrame(zip(list(url_dict.keys())
                 ,list(url_dict.values()))
                 ,columns=['MId','url'])

In [20]:
y = x_df.merge(final_df,on='MId')

In [12]:
y[y.Name_x!=y.Name_y]

Empty DataFrame
Columns: [MId, Name_x, url_x, Id, Name_y, url_y]
Index: []

In [29]:
snapped = final_df[final_df.url!='None']
COMPLETE = pd.concat([snapped[['Id','url']],y[['Id','url_x']].rename({'url_x':'url'},axis=1)])

In [30]:
import snow.utils as sf

In [13]:
sf.to_snow(df=to_snowflake
           ,table='sydney'
           ,schema='glue')

2019-06-19
Accepted dataframe object
Schema: glue already exists; updating sydney table.
sydney successfully updated.
Engine successfully closed